<div class="space-y-6 p-6 dark:bg-gray-800 h-screen">
  <div>
    <h1 class="text-2xl font-bold text-gray-900 dark:text-white">Incidencias</h1>
    <p class="text-gray-500 dark:text-gray-400">Listado completo de incidencias</p>
  </div>

  <div class="max-w-sm">
    <app-buscador
      [items]="incidentService.incidencias()"
      [searchFields]="['titulo', 'descripcion', 'estado']"
      placeholder="Buscar por título, descripción o estado..."
      [debounceTime]="300"
      (filteredResults)="onSearchResults($event)"
    />
  </div>

  <div class="bg-white dark:bg-gray-900 rounded-xl shadow-sm border border-gray-100 dark:border-0 overflow-hidden">
    <div class="overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr class="bg-gray-50 dark:bg-gray-950 border-b border-gray-200 dark:border-gray-700">
            <th class="text-left py-3 px-4 text-sm font-medium text-gray-500 dark:text-gray-400">ID</th>
            <th class="text-left py-3 px-4 text-sm font-medium text-gray-500 dark:text-gray-400">Título</th>
            <th class="text-left py-3 px-4 text-sm font-medium text-gray-500 dark:text-gray-400">Estado</th>
            <th class="text-left py-3 px-4 text-sm font-medium text-gray-500 dark:text-gray-400">Asignado a</th>
            <th class="text-left py-3 px-4 text-sm font-medium text-gray-500 dark:text-gray-400">Fecha</th>
            <th class="text-left py-3 px-2 text-sm font-medium text-gray-500 dark:text-gray-400">Detalle</th>
            <th class="text-left py-3 px-2 text-sm font-medium text-gray-500 dark:text-gray-400">Seguir</th>
          </tr>
        </thead>
        <tbody>
          @for (incident of filteredIncidents(); track incident.id) {
          <tr
            class="border-b border-gray-100 hover:bg-gray-50 dark:border-gray-700 dark:hover:bg-gray-800/90 transition-colors">
            <td class="py-3 px-4 text-sm text-gray-900 dark:text-white">#{{ incident.id }}</td>
            <td class="py-3 px-4 text-sm text-gray-900 dark:text-white">{{ incident.titulo }}</td>
            <td class="py-3 px-4">
             <span [class]="'px-2 py-1 text-xs font-medium rounded-full ' + (incident.estado === 'ABIERTO' ? 'bg-red-100 text-red-700' : incident.estado === 'PENDIENTE' ? 'bg-amber-100 text-amber-700' : incident.estado === 'CERRADO' ? 'bg-green-100 text-green-700' : '')" >
                {{ incident.estado }}
              </span>
            </td>
            <td class="py-3 px-4 dark:text-gray-400">
              <span class="px-3 py-1 text-xs font-medium rounded-full" >
                {{ incident.tecnico ? incident.tecnico.nombre : 'Sin Asignar'}}
              </span>
            </td>
            <td class="py-3 px-4 text-sm dark:text-gray-400 text-gray-600">eee</td>
            <td class="px-2">
              <button
                class="dark:text-white p-2 hover:bg-black/20 hover:cursor-pointer rounded-xl dark:hover:text-gray-500"
                (click)="openModal(incident.id)">Ver</button>
            </td>
            <td class="p-2 ">
              <a routerLink="/incidencia/seguimiento" class="flex items-center justify-start h-full ">
                <span class="p-2 rounded-full  hover:bg-black/20 hover:cursor-pointer dark:hover:text-gray-500">
                  <svg class="dark:text-white" aria-hidden="true" fill="none" stroke="currentColor"
                    xmlns="http://www.w3.org/2000/svg" width="14" height="18">
                    <path fill="currentColor"
                      d="M3.645 13.792h6.708v-1.25H3.645v1.25Zm0-3.542h6.708V9H3.645v1.25Zm-2.063 7.083a1.2 1.2 0 0 1-.875-.375 1.2 1.2 0 0 1-.375-.875V1.917a1.2 1.2 0 0 1 .375-.875 1.2 1.2 0 0 1 .875-.375h7.52l4.563 4.562v10.854a1.2 1.2 0 0 1-.375.875 1.2 1.2 0 0 1-.875.375H1.582ZM8.478 5.792V1.917H1.582v14.166h10.833V5.792H8.478Z">
                    </path>
                  </svg>
                </span>

              </a>
            </td>
          </tr>
          }
          @if (filteredIncidents().length === 0) {
          <tr>
            <td colspan="8" class="py-8 text-center text-gray-500 dark:text-gray-400">
              No se encontraron incidencias que coincidan con la búsqueda
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-detalle-incidencia [searchFields]="['']" [(modal)]="verDetalle" [(idEntity)]="idIncidencia"/>
