<div [class]=" ' dark:text-white min-h-screen flex flex-col items-center  p-6  dark:bg-gray-800 '">

  <div
    class="w-full overflow-hidden rounded-xl h-full bg-white dark:bg-slate-900 border border-gray-200 dark:border-slate-700 shadow-sm">

    <!-- Tabs -->
    <div class="flex relative border-b border-gray-200 dark:border-slate-700">

      <div (click)="moveTab(0)"
        [class]="'flex-1 text-center p-3 cursor-pointer transition-all duration-300 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-slate-800 ' +(tabs()[0] ? 'text-blue-600 dark:text-blue-400 font-medium': '')">
        Perfil
      </div>

      <div (click)="moveTab(1)"
        [class]="'flex-1 text-center p-3 cursor-pointer transition-all duration-300 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-slate-800 ' +(tabs()[0] ? 'text-blue-600 dark:text-blue-400 font-medium': '')">
        Ajustes
      </div>

      <!-- Indicator -->
      <div [class]="'absolute bottom-0 h-0.75 bg-blue-500 transition-all duration-300 w-1/2 ' +
      (tabs()[0] ? 'left-0' : tabs()[1] ? 'left-1/2' : '')">
      </div>

    </div>

    <!-- Content -->
    <div [class]="'flex w-[200%] transition-transform duration-500 ease-in-out ' +
    (tabs()[0] ? 'translate-x-0' : '-translate-x-1/2')">

      <div class="w-full p-4 text-gray-700 dark:text-gray-300">
        <div class=" md:w-full m-auto  rounded-2xl shadow-2xl p-6 bg-white dark:bg-slate-950 transition-all">

          <!-- Header -->
          <div class="flex justify-between items-center mb-6">
            <h2 class="text-xl font-semibold">Configuración de Usuario</h2>


          </div>

          <!-- Campos -->
          <div class="space-y-4">
            <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
              @for (field of ['nombre','correo','usuario','clave','rol','area']; track $index) {

              <div>
                <label class="text-sm opacity-70 capitalize">{{ field }}</label>

                <!-- Vista -->
                @if (!editMode()) {
                <div class="mt-1 p-2 rounded-lg bg-gray-100 dark:bg-gray-700">
                  {{ $any(user())[field] }}
                </div>
                }


                <!-- Edición -->
                @if (editMode()) {
                <input [(ngModel)]="$any(tempUser())[field]"
                  class="w-full mt-1 p-2 rounded-lg bg-gray-200 dark:bg-gray-700 outline-none" />
                }
              </div>
              }
            </div>

          </div>

          <!-- Botones -->
          <div class="flex justify-end gap-3 mt-6">

            <!-- Modo vista -->
            @if (!editMode())
            {
            <button (click)="toggleEdit()" class="px-4 py-2 rounded-xl bg-blue-600 text-white hover:bg-blue-700">
              Editar
            </button>
            }


            <!-- Modo edición -->
            @if (editMode()) {
            <div class="space-x-1 text-white">
              <button (click)="cancel()" class="px-4 py-2 rounded-xl  bg-gray-500 hover:bg-gray-600">
                Cancelar
              </button>

              <button (click)="save()" class="px-4 py-2 rounded-xl bg-green-600  hover:bg-green-700">
                Guardar
              </button>
            </div>
            }

          </div>

        </div>
      </div>

      <div class="w-full p-4 text-gray-700 dark:text-gray-300">
        Ajustes Principales del sistema
      </div>

    </div>

  </div>



</div>
