<form [formGroup]="updateUserForm" (ngSubmit)="submitForm()" class="space-y-5">
  @if (error()) {
  <span class="text-red-200 text-sm bg-red-600" style="display: block">
    {{ error() }}
  </span>
  }
  @let isErrorsNombre = updateUserForm.get("nombre")?.errors;
  @let isTouchedNombre = updateUserForm.get("nombre")?.touched;
  <div>
    <label for="nombre" class="block text-sm font-medium text-purple-100 mb-1.5">Nombre completo</label>
    <input type="text" id="nombre" formControlName="nombre"
      [class]="'w-full px-4 py-3 bg-white/10 border  rounded-lg text-white placeholder-purple-300/50 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent transition-all ' + (  !isErrorsNombre ? 'border-green-500' : (!isTouchedNombre ? 'border-white/20' :'border-red-500'))"
      placeholder="Tu nombre" />
    @if ( isTouchedNombre && isErrorsNombre) {
    @if (isErrorsNombre['required']) {
    <span class="text-red-500 text-sm" style="display: block">
      Nombre requerido
    </span>
    }@else if (isErrorsNombre['minlength']){
    <span class="text-red-500 text-sm" style="display: block">
      Nombre debe tener minimo 4 caracteres
    </span>
    }@else if (updateUserForm.get('nombre')?.hasError('onlyWhitespace')) {
      <span class="text-red-500 text-sm" style="display: block">Prohibido solo espacios en blanco.</span>
      }
    }

  </div>
  @let isErrorsCorreo = updateUserForm.get("correo")?.errors;
  @let isTouchedCorreo = updateUserForm.get("correo")?.touched;
  <div class="relative">
    <label for="email" class="block text-sm font-medium text-purple-100 mb-1.5">Correo electrónico</label>
    <input type="email" id="correo" formControlName="correo"
      [class]="'w-full px-4 py-3 bg-white/10 border  rounded-lg text-white placeholder-purple-300/50 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent transition-all ' + (  !isErrorsCorreo ? 'border-green-500' : (!isTouchedCorreo ? 'border-white/20' :'border-red-500'))"
      placeholder="correo@ejemplo.com" />
    @if (isTouchedCorreo && isErrorsCorreo) {
    @if (isErrorsCorreo['required']) {
    <span class="text-red-500 text-sm" style="display: block">
      Correo requerido
    </span>
    }@else if (isErrorsCorreo['email']){
    <span class="text-red-500 text-sm" style="display: block">
      Correo invalido
    </span>
    }



    }
  </div>

  @let isErrorsUsername = updateUserForm.get("username")?.errors;
  @let isTouchedUsername = updateUserForm.get("username")?.touched;
  <div class="relative">
    <label for="usuario" class="block text-sm font-medium text-purple-100 mb-1.5">Usuario</label>
    <input type="text" id="usuario" formControlName="username"
      [class]="'w-full px-4 py-3 bg-white/10 border  rounded-lg text-white placeholder-purple-300/50 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent transition-all '+ (  !isErrorsUsername ? 'border-green-500' : (!isTouchedUsername ? 'border-white/20' :'border-red-500'))"
      placeholder="Tu usuario" />

    @if (isTouchedUsername && isErrorsUsername) {
    @if (isErrorsUsername['required']) {
    <span class="text-red-500 text-sm" style="display: block">
      Username requerido
    </span>
    }@else if (isErrorsUsername['minlength']){
    <span class="text-red-500 text-sm" style="display: block">
      Username debe tener minimo 4 caracteres
    </span>
    }@else if (updateUserForm.get('username')?.hasError('onlyWhitespace')) {
      <span class="text-red-500 text-sm" style="display: block">Prohibido solo espacios en blanco.</span>
      }

    }
  </div>

  <div>
    <label for="area" class="block text-sm font-medium text-purple-100 mb-1.5">Area:</label>
    <select id="area" formControlName="area"
      [class]="'w-full px-4 py-3 bg-white/10 border  rounded-lg text-white placeholder-purple-300/50 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent transition-all '+ (  !isErrorsUsername ? 'border-green-500' : (!isTouchedUsername ? 'border-white/20' :'border-red-500'))"
      placeholder="Tu usuario">
      @for (item of areas; track $index) {
      <option class="text-black" [value]="item">
        {{ item }}
      </option>
      }
    </select>
  </div>


  <div>
    <label for="estado" class="block text-sm font-medium text-purple-100 mb-1.5">Estado:</label>
    <select id="estado" formControlName="estado"
      [class]="'w-full px-4 py-3 bg-white/10 border  rounded-lg text-white placeholder-purple-300/50 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent transition-all '+ (  !isErrorsUsername ? 'border-green-500' : (!isTouchedUsername ? 'border-white/20' :'border-red-500'))"
      placeholder="Tu usuario">

      <option class="text-black" value="ACTIVO">
        ACTIVO
      </option>
      <option class="text-black" value="INACTIVO">
        INACTIVO
      </option>

    </select>
  </div>


  <button type="submit" [disabled]=" updateUserForm.invalid || updateUserForm.pending"
    class="w-full py-3 px-4 bg-linear-to-r from-purple-600 to-indigo-600 hover:from-purple-500 hover:to-indigo-500 text-white font-semibold rounded-lg shadow-lg shadow-purple-500/30 disabled:opacity-50 disabled:cursor-not-allowed transition-all duration-200">
    @if ( updateUserForm.pending) {
    <span class="flex items-center justify-center gap-2">
      <svg class="animate-spin h-5 w-5" viewBox="0 0 24 24" fill="none">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"></path>
      </svg>
      Creando cuenta...
    </span>
    } @else {
    Crear Cuenta
    }
  </button>
</form>
